
// https://www.npmjs.com/package/babel-plugin-module-resolver
{
  "presets": [
    ["@babel/preset-env", { "corejs": 3}],
      "@babel/preset-typescript",
      "@babel/preset-react"
    ],
  "plugins": [
    ["@babel/plugin-syntax-dynamic-import"]
  ]
}