# env files to ignore
.env

# do not upload lock files
package-lock.json
yarn.lock


# directories never to upload
bin/
build/
dist/
lib/
output/
node_modules/
rollup/

#files to never upload
src/scratch.ts
src/modules/busyBench.ts

# scripts
*.cmd
*.bat


#misc
yarn-error.log
